<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= title %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<header>
		<h1>Board Game Directory</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/add-game">Add Game</a></li>
				<li><a href="/add-game-session">Add Game Session</a></li>
			</ul>
		</nav>
	</header>